on charger
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    wait /dev/block/bootdevice/by-name/sec_efs
    mount ext4 /dev/block/bootdevice/by-name/sec_efs /efs nosuid nodev noatime noauto_da_alloc,discard,data=ordered,errors=panic
    mkdir /efs/Battery 0775 radio system
    chown radio system /efs/Battery
    chmod 0775 /efs/Battery
    chmod 0664 /sys/class/power_supply/battery/battery_cycle
    chown system radio /sys/class/power_supply/battery/battery_cycle
    chown system radio /sys/class/power_supply/battery/cisd_fullcaprep_max
    chmod 0660 /sys/class/power_supply/battery/cisd_fullcaprep_max
    chown system radio /sys/class/power_supply/battery/cisd_data
    chmod 0660 /sys/class/power_supply/battery/cisd_data
    chown system system /efs/FactoryApp/cisd_data
    chmod 0660 /efs/FactoryApp/cisd_data
    chown system radio /sys/class/power_supply/battery/cisd_data_json
    chmod 0660 /sys/class/power_supply/battery/cisd_data_json
    chown radio system /efs
    chmod 0771 /efs
    chown radio system /efs/usb_hw_param
    chmod 771 /efs/usb_hw_param
    chown system system /efs/usb_hw_param/usb_hw_param.log
    chmod 0660 /efs/usb_hw_param/usb_hw_param.log
    mkdir /efs/lpm 0775 system system
    class_start sec-charger


# LPM
service lpm /system/bin/lpm
    class sec-charger
    user root
    group system radio input
    critical
